@{
    ViewData["Title"] = "Home Page";
}
 <!-- v0.0.2.0 -->
<div class="container pt-0">
    <div class="row justify-content-center">
        <div class="col">
            
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div class="mb-5 section bg-dark text-white p-3 rounded shadow-sm bg-opacity text-center">
                <img class="img-fluid" width="250" height="auto" src="~/img/Address-B_line.png" alt="Address Book Logo"/>
                <div>
                    <br />
                    <a class="btn btn-secondary" asp-area="" asp-controller="Contacts" asp-action="Index">Try it out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div class="section bg-dark text-white p-3 rounded shadow-sm bg-opacity text-center">
                <img class="img-fluid me-2" src="~/img/c-sharp.png"/>
                <img class="img-fluid me-2" src="~/img/bootstrap.png"/>
                <img class="img-fluid me-2" src="~/img/html-5.png"/>
                <br /><br />
                <img class="img-fluid me-2" src="~/img/css-3.png"/>
                <img class="img-fluid me-2" src="~/img/js.png"/>
                <img class="img-fluid me-2" src="~/img/postgre.png"/>
            </div>
            <br />
            <br />
            <br />
            <a href="https://www.flaticon.com/authors/freepik" title="icons">Icons created by Freepik - Flaticon</a>
            <br />
            <a href="https://www.flaticon.com/free-icons/css" title="css icons">Css icons created by Pixel perfect - Flaticon</a>
        </div>
    </div>
</div>
